body {
    background: #93B49E;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-right: 200px;
}

nav {
    display: flex;
    align-items: center;
    color: #3b3b39;
}

ul {
    display: inline-flex;
    list-style: none;
}

li {
    margin: 20px;
    color: #3b3b39;
}


header {
    margin-top: 80px;
}

h1, h2 {
    color: #F3FFB6;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 30px;
    width: 300px;
}

.logo_parceiros {
    width: 130px;
}

.logo_contato {
    width: 30px;
}


.logo_contato {
    align-items: center;
}